################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoQuest/AutoQuest.vcxproj.filters
/AutoQuest/.vs/AutoQuest/v15/Browse.VC.opendb
/AutoQuest/.vs/AutoQuest/v15/Browse.VC.db
/AutoQuest/x64/Debug/vc141.idb
/AutoQuest/x64/Debug/AutoQuest.tlog/link.write.1.tlog
/AutoQuest/x64/Debug/AutoQuest.tlog/link.read.1.tlog
/AutoQuest/x64/Debug/AutoQuest.tlog/link.command.1.tlog
/AutoQuest/x64/Debug/AutoQuest.tlog/CL.write.1.tlog
/AutoQuest/x64/Debug/AutoQuest.tlog/CL.read.1.tlog
/AutoQuest/x64/Debug/AutoQuest.tlog/CL.command.1.tlog
/AutoQuest/x64/Debug/AutoQuest.tlog/AutoQuest.lastbuildstate
/.vs/AutoQuest/v15/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/AutoQuest/.vs/AutoQuest/v15/.suo
/.vs/AutoQuest/v15/Browse.VC.db
/AutoQuest/.vs/AutoQuest/v15/ipch/AutoPCH/e6fc580ad66bbee7/MAIN.ipch
/AutoQuest/.vs/AutoQuest/v15/ipch/AutoPCH/bf8c77ea19213d67/MAIN.ipch
/AutoQuest/AutoQuest.vcxproj.user
