################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoQuest/AutoQuest.vcxproj.filters
/AutoQuest/.vs/AutoQuest/v15/Browse.VC.opendb
/AutoQuest/.vs/AutoQuest/v15/Browse.VC.db
